::-webkit-scrollbar {
  padding-left: 1px;
  background-color: #eee;
  overflow: visible;
  width: 7px;
  height: 7px;
  margin-top: 1px; }

::-webkit-scrollbar-thumb {
  background-color: #34495e;
  background-clip: padding-box;
  border: 1px solid transparent;
  min-height: 15px; }

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 1px solid #fff; }

::-webkit-scrollbar-corner {
  background: transparent; }

input, select, textarea, button:focus {
  outline: 0 none !important; }

.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

body {
  font-family: 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB', tahoma,arial,sans-serif; }

.fa-btn {
  margin-right: 6px; }

#scriptTag {
  display: none; }

.__hide__ {
  display: none; }

.__show__ {
  display: block; }

#menu {
  margin: 0;
  padding: 0;
  border-right: 1px solid #e7e7eb;
  border-left: 1px solid #e7e7eb;
  border-bottom: 1px solid #e7e7eb; }
  #menu li {
    list-style-type: none; }
    #menu li.metismenu-item {
      border-top: 1px solid #e7e7eb;
      padding: 15px; }
      #menu li.metismenu-item.active > a {
        color: #3eb94e; }
      #menu li.metismenu-item ul {
        margin: 15px 0 0 0;
        padding: 0; }
        #menu li.metismenu-item ul li {
          margin-top: 5px;
          padding: 10px; }
          #menu li.metismenu-item ul li:hover {
            background-color: #f5f5f5;
            border-color: #ddd; }
          #menu li.metismenu-item ul li.active {
            background-color: #3eb94e; }
            #menu li.metismenu-item ul li.active a {
              color: #fff; }
  #menu a {
    color: #333;
    text-decoration: none;
    display: block; }
  #menu .sidebar-nav-item-icon {
    padding-right: 5px; }
  #menu .sidebar-nav-title {
    padding-left: 5px; }

table tr {
  cursor: pointer; }

table th.limit-width, table td.limit-width {
  max-width: 200px !important; }

table .del-form {
  display: inline-block; }

table .edit-btn, table .del-btn {
  display: inline-block;
  border: none;
  background-color: transparent; }
  table .edit-btn:hover, table .del-btn:hover {
    cursor: pointer;
    text-decoration: underline; }

table .edit-btn {
  color: #3c763d; }

table .del-btn {
  color: #a94442; }

table img.head-img-url {
  max-width: 40px;
  max-height: 40px; }

table img.banner-img-url {
  max-width: 100px;
  max-height: 50px; }

table img.topic-img-url,
table img.category-img-url {
  width: 50px;
  height: 50px; }

table img.plate-img-url,
table img.commodity-img-url {
  width: 100px;
  height: 50px; }

.img-thumbnail {
  max-width: 200px;
  height: 100px; }

.tree-container {
  margin-top: 15px;
  font-size: 10px; }

.form-small-text {
  font-size: 10px; }
  .form-small-text textarea {
    font-size: 10px;
    color: gray; }
    .form-small-text textarea#editor {
      width: 100%;
      min-height: 300px; }

/*# sourceMappingURL=admin.css.map */
